@import "../config";

$col: 100/12; // 12 cols
$gutter: 12px;
$gutterWide: 15px;

@mixin getWidth($cols)
{
	width: (($col * $cols) * 1%);
	flex-basis: (($col * $cols) * 1%);
	max-width: (($col * $cols) * 1%);
}

// generic
.m-grid
{
	clear: both;
	margin: 0 auto;
	padding: 0;
	position: relative;
	z-index: 0;
	&__inner
	{
		@include box-sizing();
		clear: both;
		margin: 0;
		margin-left: -$gutter;
		padding: 0;
		zoom: 1;
	}
	&__row
	{
		@include box-sizing();
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		font-size: 0;
		justify-content: center;
		line-height: 0;
		margin: 0;
		padding: 0;
		position: relative;
		text-align: center;
		z-index: 1;
		&--align-left
		{
			text-align: left;
			justify-content: flex-start;
		}
		&--align-right
		{
			text-align: right;
			justify-content: flex-end;
		}
		&--reverse
		{
			direction: rtl;
		}
	}
	&__col
	{
		@include box-sizing();
		direction: ltr;
		display: inline-block;
		flex-direction: column;
		font-size: $fontSize;
		line-height: $fontHeight;
		margin: 0 0 $gutter 0;
		padding: 0 0 0 $gutter;
		position: relative;
		text-align: left;
		vertical-align: top;
		width: 100%;
		z-index: 1;
		@for $i from 1 through 11
		{
			&--#{$i}
			{
				@include getWidth($i);
			}
		}
		@include mq-min($bpMobileLarge)
		{
			@for $i from 1 through 11
			{
				&--#{$i}--mobile-large
				{
					@include getWidth($i);
				}
			}
		}
		@include mq-min($bpTablet)
		{
			@for $i from 1 through 11
			{
				&--#{$i}--tablet
				{
					@include getWidth($i);
				}
			}
		}
		@include mq-min($bpTabletLarge)
		{
			@for $i from 1 through 11
			{
				&--#{$i}--tablet-large
				{
					@include getWidth($i);
				}
			}
		}
		@include mq-min($bpDesktop)
		{
			@for $i from 1 through 11
			{
				&--#{$i}--desktop
				{
					@include getWidth($i);
				}
			}
		}
		@include mq-min($bpDesktopLarge)
		{
			@for $i from 1 through 11
			{
				&--#{$i}--desktop-large
				{
					@include getWidth($i);
				}
			}
		}
		@include mq-min($bpLarge)
		{
			@for $i from 1 through 11
			{
				&--#{$i}--large
				{
					@include getWidth($i);
				}
			}
		}
		.flexbox &
		{
			display: flex;
		}
		&--tight
		{
			margin-bottom: 0;
		}
		&--centralised
		{
			text-align: center;
		}
	}
	&--wider
	{
		> .m-grid__inner
		{
			margin-left: -$gutterWide;
			> .m-grid__row
			{
				> .m-grid__col
				{
					padding-left: $gutterWide;
					@include mq-min($bpDesktop)
					{
						padding-left: $gutterWide + 10;
					}
					@include mq-min($bpLarge)
					{
						padding-left: $gutterWide + 20;
					}
				}
			}
			@include mq-min($bpDesktop)
			{
				margin-left: -($gutterWide + 10);
			}
			@include mq-min($bpLarge)
			{
				margin-left: -($gutterWide + 20);
			}
		}
	}
	&--content
	{
		margin: 0 0 15px 0;
		> .m-grid__inner
		{
			margin: -15px 0 0 -15px;
			> .m-grid__row
			{
				padding: 15px 0 0 0;
				> .m-grid__col
				{
					margin-bottom: 0;
					padding-left: 15px;
					@include mq-min($bpTabletLarge)
					{
						padding-left: 25px;
					}
					@include mq-min($bpDesktop)
					{
						padding-left: 35px;
					}
					@include mq-min($bpDesktopLarge)
					{
						padding-left: 45px;
					}
					@include mq-min($bpLarge)
					{
						padding-left: 55px;
					}
				}
				@include mq-min($bpTabletLarge)
				{
					padding-top: 25px;
				}
				@include mq-min($bpDesktop)
				{
					padding-top: 35px;
				}
				@include mq-min($bpDesktopLarge)
				{
					padding-top: 45px;
				}
				@include mq-min($bpLarge)
				{
					padding-top: 55px;
				}
			}
			@include mq-min($bpTabletLarge)
			{
				margin: -25px 0 0 -25px;
			}
			@include mq-min($bpDesktop)
			{
				margin: -35px 0 0 -35px;
			}
			@include mq-min($bpDesktopLarge)
			{
				margin: -45px 0 0 -45px;
			}
			@include mq-min($bpLarge)
			{
				margin: -55px 0 0 -55px;
			}
		}
		&--tight
		{
			margin-bottom: 0;
		}
	}
	&--spaced
	{
		@include mq-min($bpDesktop)
		{
			margin-bottom: $gutter;
		}
	}
	&--tight
	{
		margin-bottom: -$gutter;
	}
}
