@import "config";

@import "modules/grid";

.m-block
{
	background: red;
	color: #fff;
	display: block;
	flex: 1;
	flex-direction: column;
	min-height: 100px;
	margin: 10px 0 0 0;
	padding: 10px 15px;
	@include mq-min($bpMobileLarge)
	{
		background: red;
	}
	@include mq-min($bpTablet)
	{
		background: orange;
	}
	@include mq-min($bpTabletLarge)
	{
		background: yellow;
	}
	@include mq-min($bpDesktop)
	{
		background: lime;
	}
	@include mq-min($bpDesktopLarge)
	{
		background: blue;
	}
	@include mq-min($bpLarge)
	{
		background: purple;
	}
	&:first-child
	{
		margin-top: 0;
	}
	.flexbox &
	{
		display: flex;
	}
	&--large
	{
		min-height: 200px;
	}
}
